<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>

    <div class="home-title bordered">
        <h1 class="large">A Vanilla SPA framework</h1>
    </div>

    <div id="home-blerb" class="home-text">
        <h1>No additives. No preservatives. 100% all natural JavaScript.</h1>
        <br/>
        <p>This Single Page Application framework relies on no other framework, plugin, Library, or anything else.</p>
        <br/>
        <p>Developed in a few days and as simple as possible, you can scale this to a bigger project, 
            use it as-is for a simple website template, or just check out my code and maybe get some ideas on how to approach 
            your own SPA project.</p>

    </div>    
    
    <div id="home-box1">        
        <div>
            <h2>Simple</h2>
            <img src="../img/simple.svg">     
            <p>About the length of an average magazine article</p>
        </div>
        <div>
            <h2>Documented</h2>
            <img src="../img/document.svg">       
            <p>Every function has an entry in the <a href='../jsdoc/index.html'>Documentation</a></p>
        </div>
        <div>
            <h2>Scaleable</h2>
            <img src="../img/scale.svg">          
            <p>Use this for a portfolio site or the next mySpace</p>
        </div>
    </div>

    <div class="inner-container">
        This framework has been documented with JSDoc. More information at<br/>
        <a href="https://jsdoc.app/index.html">JSDoc website</a>
    </div>
    
    
    
    <script type="module" src="./js/modules/home.js"></script>
    <script type="module" src="./js/modules/home2.js"></script>
</body>
</html>