<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../css/test.css">
</head>
<body>

    <div id="test_title">Test Page</div>
    <div id="test_title_buttons">
        <button id="squeeze">Play Squeeze</button>
        <button id="type">Play Type</button>
        <button id="zipper">Play Zipper</button>        
        <!-- <button id="remove_listeners">Remove Listeners</button> -->        
    </div>

    <div id="test-blerb" class="test-bigger">
        <p>This is just a quick demo page to make sure everything is working properly, but since you are here, check out these animations. 
        Click the buttons to play.</p>        
    </div>

    <div id="browser-stats">
        <h3>Browser</h3><br/>
        <table id="browser_list">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </table>

    </div>


    <script type="module" src="./js/modules/test.js"></script>
</body>
</html>